@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme{
    --font-sans : "Open Sans", "sans-serif";
}